# Ignorar la carpeta de dependencias
node_modules/

# Ignorar archivos de entorno
.env
.env.local
.env.development
.env.production

# Ignorar archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar caché de npm y Yarn
.npm/
.yarn/
.pnpm-store/

# Ignorar la carpeta de compilación (si usas TypeScript o Babel)
dist/
build/

# Ignorar IDEs y editores
.vscode/
.idea/
.DS_Store