.stripe-container{
    width: 80%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
    gap: 25px;
}

.stripe-container h1{
    margin-bottom: 20px;
}

.stripe-container p{
    width: 50%;
    margin-bottom: 20px;
}

.stripe-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.stripe-form input{
    padding: 10px;
}

.stripe-container button {
    border: none;
    padding: 12px;
    width: 200px;
    background-color: tomato;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
}

.stripe-container button:hover {
    background-color: black;
}

.stripe-container ul{
    margin-bottom: 20px;
}

@media (max-width: 550px) {
    .stripe-container p{
        width: 90%;
    }
}