.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(1.8vw, 22px);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;  /* Altura del contenedor del spinner */
}

.spinner {
    border: 8px solid #f3f3f3;  /* Color del spinner */
    border-top: 8px solid tomato;  /* Color del borde superior (animación) */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
